In [ ]:
from sklearn.datasets import load_wine
import pandas as pd

In [ ]:
wine = load_wine()
dir(wine)

['DESCR', 'data', 'feature_names', 'frame', 'target', 'target_names']

In [ ]:
wine.target_names

array(['class_0', 'class_1', 'class_2'], dtype='<U7')

In [ ]:
df = pd.DataFrame(wine.data,columns=wine.feature_names)
df['target'] = wine.target
df

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0,2
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0,2
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0,2
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0,2
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0,2

In [ ]:
df.groupby('target').describe()

       alcohol                                                             \
         count       mean       std    min     25%     50%     75%    max
target
0         59.0  13.744746  0.462125  12.85  13.400  13.750  14.100  14.83
1         71.0  12.278732  0.537964  11.03  11.915  12.290  12.515  13.86
2         48.0  13.153750  0.530241  12.20  12.805  13.165  13.505  14.34

       malic_acid            ... od280/od315_of_diluted_wines       proline  \
            count      mean  ...                          75%   max   count
target                       ...
0            59.0  2.010678  ...                         3.42  4.00    59.0
1            71.0  1.932676  ...                         3.16  3.69    71.0
2            48.0  3.333750  ...                         1.82  2.47    48.0


               mean         std    min    25%     50%     75%     max
target
0       1115.711864  221.520767  680.0  987.5  1095.0  1280.0  1680.0
1        519.507042  157.211220  278.0  406.5   495.0   625.0   985.0
2        629.895833  115.097043  415.0  545.0   627.5   695.0   880.0

[3 rows x 104 columns]

In [ ]:
input = df.drop('target',axis='columns')
target = df.target

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(input,target,test_size=0.2)

In [ ]:
len(input)

178

In [ ]:
len(x_train)

142

In [ ]:
len(x_test)

36

In [ ]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import GaussianNB
mn = MultinomialNB()
gn = GaussianNB()

In [ ]:
mn.fit(x_train,y_train)
mn.score(x_test,y_test)

0.8888888888888888

In [ ]:
gn.fit(x_train,y_train)
gn.score(x_test,y_test)

0.9722222222222222